html {
    overscroll-behavior: none;
}   

body {
    background: linear-gradient( 180deg, #000000, #ffffff);
    height: 600vh;
}

.title {
    color: rgb(133, 0, 0);
    text-align: center;
    font-family: 'Impact';
    font-size: 90px;
}