html {
  overscroll-behavior: none;
}

body {
  background-image: url('../Media/Images/clouds-5.jpg');
}


.title {
  text-align: center;
  font-family: 'Leckerli One';
  font-size: 120px;
  position: relative;
  bottom: 15px;
}

.title_description {
  text-align: center;
  font-family: 'Leckerli One';
  font-size: 45px;
  position: relative;
  bottom: 85px;
}

p {
  margin-left: 110px;
  color: rgb(205, 214, 244);
  position: relative;
  bottom: 140px;
  font-size: 20px;
  font-family: 'Lexend';
  margin-right: 110px;
  text-align: justify;
  line-height: 1.5;
}

h1 {
  color: rgb(205, 214, 244);
}

h2 {
  color: rgb(205, 214, 244);
}

.border {
  text-align: center;
  text-decoration: strong;
  font-size: 75px;
  position: relative;
  bottom: 175px;
}

a {
  color: rgb(255, 242, 175);
  text-decoration: none;
}

img {
  width: 50%;
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}

span {
  font-size: 30px;
  text-decoration: strong;
}

/* Navigation Buttons */
.button_home {
  background-color: rgb(180, 190, 254);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(180, 190, 254);
  padding: 14px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 8px;
  cursor: pointer;
  color: rgb(17, 17, 27);
  margin-top: 4px;
  border-radius: 15px;
  transition: background-color 0.2s, box-shadow 0.15s, color 0.2s, border-color 0.2s;
}

.button_about {
  background-color: rgb(180, 190, 254);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(180, 190, 254);
  padding: 14px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 4px;
  cursor: pointer;
  color: rgb(17, 17, 27);
  border-radius: 15px;
  transition: background-color 0.2s, box-shadow 0.15s, color 0.2s, border-color 0.2s;
}

.button_about:hover {
  background-color: rgb(149, 163, 250);
  box-shadow: -5px 5px 10px rgba(149, 163, 250, 0.4);
  border-color: rgb(149, 163, 250);
}

.button_home:hover {
  background-color: rgb(149, 163, 250);
  box-shadow: -5px 5px 8px rgba(149, 163, 250, 0.4);
  border-color: rgb(149, 163, 250);
}

.button_about:active {
  background-color: rgb(17, 17, 27);
  box-shadow: -5px 5px 8px rgba(149, 163, 250, 0.4);
  color: rgb(149, 163, 250);
  border-color: rgb(149, 163, 250);
}

.button_home:active {
  background-color: rgb(17, 17, 27);
  box-shadow: -5px 5px 8px rgba(149, 163, 250, 0.4);
  color: rgb(149, 163, 250);
  border-color: rgb(149, 163, 250);
}

button {
  margin: 0px;
  color: rgba(0, 0, 0, 0);
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}