html {
  overscroll-behavior: none;
}   

body {
  background: linear-gradient( 180deg, rgb(17, 17, 27), rgb(203, 166, 247));
  height: 600vh;
}

.title {
  color: rgb(245, 194, 231);
  text-align: center;
  font-family: 'DynaPuff Semicondensed';
  font-size: 90px;

}

/* Read Aloud button styles */
.Read_button {
  background-color: rgb(245, 194, 231);
  border-color: rgb(245, 194, 231);
  border-style: solid;
  padding: 7px;
  font-size: 22px;
  border-width: 1px;
  border-radius: 5px;
  margin-left: 7px;
  margin-top: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.15s;
}

.Read_button:hover {
  background-color: rgb(243, 170, 224);
  border-color: rgb(243, 170, 224);
  box-shadow: -6px 6px 10px rgba(239, 132, 211, 0.35);
}

.Read_button:active {
  background-color: rgb(0, 0, 0);
  border-color: rgb(243, 170, 224);
  color: rgb(243, 170, 224);
  border-width: 1px;
  border-style: solid;
}