html {
	overscroll-behavior: none;
}   

body {
	background: linear-gradient( to bottom, rgb(17, 17, 27), rgb(177, 142, 219));
	height: fit-content;
}

h1 {
	margin: 0px;
}

h2 {
	margin: 0px;
}

.title {
	color: rgb(245, 194, 231);
	text-align: center;
	font-family: 'DynaPuff Semicondensed';
	font-size: 90px;
	margin-top: 45px;

}

.border {
	color: rgb(245, 194, 231);
	text-align: center;
	font-family: 'Irish Grover';
	font-size: 90px;
	margin-top: -55px;
}

.writing {
	padding: 15px 100px;
	font-size: 20px;
	text-align: center;
	color: #cdd6f4;
	bottom: 100px;
	width: 71%;
	margin: auto;
	font-size: 25px;
}

.link-line {
	line-height: 50px;
}

.website {
	width: 33.3333333333333333333333333334%;
}

.headspace {
	background-color: #ADB3FA;
}

.beyond-blue {
	background-color: #BCADF9;
}

.reachout {
	background-color: #ADB3FA;
}

.website-container {
	display: flex;
	width: 100%;
	position: relative;
	bottom: 0px;
	margin-top: 70px;
}

.warning_header {
	text-decoration: underline;
	text-align: center;
	font-size: 30px;
}

.novel {
	font-size: 25px;
	text-align: justify;
	line-height: 40px;
	text-shadow: -2px 2px 5px rgba(17, 17, 27, 0.5);
}

.warning {
	line-height: 35px;
}

span {
	font-size: 17px;
}