html {
	overscroll-behavior: none;
}   

body {
	background: linear-gradient( to bottom, rgb(17, 17, 27), rgb(203, 166, 247));
	height: fit-content;
}

h1 {
	margin: 0px;
}

h2 {
	margin: 0px;
}

.title {
	color: rgb(245, 194, 231);
	text-align: center;
	font-family: 'DynaPuff Semicondensed';
	font-size: 90px;
	margin-top: 45px;

}

.border {
	color: rgb(245, 194, 231);
	text-align: center;
	font-family: 'Irish Grover';
	font-size: 90px;
	margin-top: -55px;
}

p {
	padding: 15px 100px;
	font-size: 20px;
	text-align: center;
}

.link-line {
	line-height: 50px;
}

.website {
	width: 33.3333333333333333333333333334%;
}

.headspace {
	background-color: #ADB3FA;
}

.beyond-blue {
	background-color: #BCADF9;
}

.reachout {
	background-color: #ADB3FA;
}

.website-container {
	display: flex;
	width: 100%;
	position: relative;
	bottom: 0px;
	margin-top: 70px;
}

.novel {
	color: #cdd6f4;
	bottom: 100px;
	width: 70%;
	margin: auto;
	font-size: 25px;
	text-align: justify;
	line-height: 40px;
}