html {
	overscroll-behavior: none;
}   

body {
	background: linear-gradient( to bottom, rgb(17, 17, 27), rgb(73, 9, 51));
	height: fit-content;
}

h1 {
	margin: 0px;
}

h2 {
	margin: 0px;
}

.title {
	color: rgb(142, 61, 114);
	text-align: center;
	font-family: 'DynaPuff Semicondensed';
	font-size: 90px;
	margin-top: 45px;

}

.border {
	color: rgb(142, 61, 114);
	text-align: center;
	font-family: 'Irish Grover';
	font-size: 90px;
	margin-top: -55px;
}

p {
	padding: 15px 100px;
	font-size: 20px;
	text-align: center;
    color: rgb(203, 166, 247);
}

.link-line {
	line-height: 50px;
}

.information {
	font-size: 25px;
	text-align: justify;
	line-height: 40px;
	text-shadow: -2px 2px 5px rgba(17, 17, 27, 0.5);
}

.header {
    font-size: 30px;
    text-decoration: underline;
}